<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <record name="agent/pair" javaclass="com.wm.util.Values">
    <value name="urlPath">invoke/com.softwareag.is.scaffolding.test.api:pairing</value>
    <record name="portMap" javaclass="com.wm.util.Values">
    </record>
  </record>
</Values>
